<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>

<body class="bg-BodyColor">
    <nav class="flex justify-between items-center flex-wrap bg-BodyColor h-Navscreen sticky">
        <div class="ml-8">
            <p class="font-sans font-bold text-3xl text-white">Edit</p>
        </div>
        <div class="fill-current text-white mr-8">
            <a href="{{url_for('TransactionsPage')}}">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg class="h-10 w-10" version="1.1" id="Chevron_left" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                    enable-background="new 0 0 20 20" xml:space="preserve">
                    <path d="M12.452,4.516c0.446,0.436,0.481,1.043,0,1.576L8.705,10l3.747,3.908c0.481,0.533,0.446,1.141,0,1.574
            c-0.445,0.436-1.197,0.408-1.615,0c-0.418-0.406-4.502-4.695-4.502-4.695C6.112,10.57,6,10.285,6,10s0.112-0.57,0.335-0.789
            c0,0,4.084-4.287,4.502-4.695C11.255,4.107,12.007,4.08,12.452,4.516z" />
                </svg>
            </a>
        </div>
    </nav>
    <!-- The nav bar somehow is on top of the content. Look at the bottom of the nav bar  -->

    <form class="w-full px-5">
        <div class="flex flex-wrap">
            <label class="block uppercase tracking-wide text-white text-sm font-medium mb-2" for="">Category</label>
        </div>
        <div class="relative">
            <select
                class="bg-CardColorDarker block w-full appearance-none text-white py-4 px-3 rounded-lg focus:outline-none mb-8 "
                name="Icons" id="">
                <option value="" class="block">Food</option>
                <option value="" class="block">Shoes & Clothings</option>
                <option value="" class="block">Necessities</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-3 text-white">
                <?xml version="1.0" encoding="utf-8"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg class="h-6 w-6 fill-current" version="1.1" id="Chevron_down" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                    enable-background="new 0 0 20 20" xml:space="preserve">
                    <path d="M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0
    c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335
    c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z" />
                </svg>
            </div>
        </div>


        <div class="flex flex-wrap">
            <label class="block uppercase tracking-wide text-white text-sm font-medium mb-2" for="">Icons</label>
        </div>
        <div class="relative">
            <select
                class="bg-CardColorDarker block w-full appearance-none text-white py-4 px-3 rounded-lg focus:outline-none mb-8"
                name="Icons" id="">
                <option value="" class="block">Emoji 1</option>
                <option value="" class="block">Emoji 2</option>
                <option value="" class="block">Emoji 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-3 text-white">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg class="h-6 w-6 fill-current" version="1.1" id="Chevron_down" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20"
                    enable-background="new 0 0 20 20" xml:space="preserve">
                    <path d="M4.516,7.548c0.436-0.446,1.043-0.481,1.576,0L10,11.295l3.908-3.747c0.533-0.481,1.141-0.446,1.574,0
	c0.436,0.445,0.408,1.197,0,1.615c-0.406,0.418-4.695,4.502-4.695,4.502C10.57,13.888,10.285,14,10,14s-0.57-0.112-0.789-0.335
	c0,0-4.287-4.084-4.695-4.502C4.107,8.745,4.08,7.993,4.516,7.548z" />
                </svg>
            </div>
        </div>

        <div class="flex flex-wrap">
            <label class="block uppercase tracking-wide text-white text-sm font-medium mb-2" for="">What you
                spent</label>
        </div>
        <div>
            <input class="bg-CardColorDarker block w-full text-white py-4 px-3 rounded-lg focus:outline-none mb-8"
                type="text" placeholder=":(" value="{{transaction.get('Items')}}">
        </div>

        <div class="flex flex-wrap">
            <label class="block uppercase tracking-wide text-white text-sm font-medium mb-2" for="">When did you
                $$$</label>
        </div>
        <div class="">
            <input class="bg-CardColorDarker block w-full text-white py-4 px-3 rounded-lg focus:outline-none mb-8"
                type="text" placeholder="MM/DD/YYYY">
        </div>

        <button
            class="mt-12 bg-green-500 hover:bg-green-400 text-white font-bold font-sans text-3xl py-2 w-full border-b-4 border-green-700 hover:border-green-500 rounded-lg">
            Save
        </button>




    </form>
</body>

</html>